{% extends "app.twig" %}

{% block bodyClass %}login-page sidebar-collapse{% endblock %}
{% block title %}Intra in contul tau{% endblock %}

{% block container %}
    <div class="page-header clear-filter" filter-color="orange">
        <div class="page-header-image" style="background-image:url({{ asset('images/login.jpg') }})"></div>
        <div class="content">
            <div class="container">
                <div class="col-md-4 ml-auto mr-auto">
                    <div class="card card-login card-plain">
                        <form class="form" method="POST" action="/login">
                            {% csrf %}
                            <div class="card-header text-center">
                                <div class="logo-container">
                                    <img src="{{ asset('images/now-logo.png') }}" alt="">
                                </div>
                                <h4>Intra in contul tau</h4>
                            </div>
                            <div class="card-body">
                                <div class="input-group no-border input-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-user mr-2"></i>
                                        </span>
                                    </div>
                                    <input type="text" name="username" class="form-control h-auto" placeholder="Email">
                                </div>

                                <div class="input-group no-border input-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-key mr-2"></i>
                                        </span>
                                    </div>
                                    <input type="password" name="password" placeholder="Parola"
                                           class="form-control h-auto"/>
                                </div>
                            </div>

                            <div class="card-footer text-center">
                                <button type="submit" href="#pablo" class="btn btn-primary btn-round btn-lg btn-block">
                                    Intra in cont
                                </button>
                                <div class="pull-left">
                                    <h6>
                                        <a href="/register" class="link">Creaza cont</a>
                                    </h6>
                                </div>
                                <div class="pull-right">
                                    <h6>
                                        <a href="#pablo" class="link">Ai nevoie de ajutor?</a>
                                    </h6>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <nav>
                    <ul>
                        <li>
                            <a href="https://www.creative-tim.com">
                                Creative Tim
                            </a>
                        </li>
                        <li>
                            <a href="http://presentation.creative-tim.com">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="http://blog.creative-tim.com">
                                Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright" id="copyright">
                    &copy;
                    <script>
                        document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
                    </script>
                    , Designed by
                    <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                    <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
                </div>
            </div>
        </footer>
    </div>
{% endblock %}